*.bak
*.qpf
*.qsf
*.asm*
*.done
*.fit.*
*.jdi
*.map.*
*.pin
*.pof
*.sld
*.sta.*
*.kpt
*.qmsg
*.cdb
*.cnf*
*.cbx*
*.cmp*
*.db*
*.hier*
*.hif
*.lpc*
*.map*
*.pre*
*.quiproj*
*.routing*
*.rtl*
*.sld*
*.smart*
*.tbd
*.tis

*.tdb
*.ddb
*.tmw_info
*.ammdb
*.hsd
*.json
*.hdb
*.rpt
*.qws
*.qarlog
*.sv
*.qdf
*.sft
*.svo
*.xrf
*.xml
*.nlv
*.htm
*.sdc
*.sopcinfo
*.qsys
*.tcl
*.lib
*.var
*.sh
*.hex
18.1/floating_point_test/testFloat/simulation/mentor/libraries/_info
18.1/floating_point_test/testFloat/simulation/mentor/libraries/nios_custom_instr_floating_point_2_multi_0/_info
18.1/floating_point_test/testFloat/simulation/mentor/libraries/work/_info
*.ini
*.setup
*.sip
*.debuginfo
*.bsf
*.csv
*.html
*.ppf
*.spd
