*.bak
*.qpf
*.qsf
*.asm*
*.done
*.fit.*
*.jdi
*.map.*
*.pin
*.pof
*.sld
*.sta.*
*.kpt
*.qmsg
*.cdb
*.cnf*
*.cbx*
*.cmp*
*.db*
*.hier*
*.hif
*.lpc*
*.map*
*.pre*
*.quiproj*
*.routing*
*.rtl*
*.sld*
*.smart*
*.tbd
*.tis

*.tdb
*.ddb
*.tmw_info
*.ammdb
*.hsd
*.json
*.hdb
*.rpt
*.qws
